/External
/EclipseStudio/Final
/EclipseStudio/Debug
/EclipseStudio/Release
/Eternity/Final
/Eternity/Debug
/Eternity/Debug_NoCrashRpt
/Eternity/Debug_Server
/Eternity/Release_Server
/EclipseStudio/WarZ.ncb
/EclipseStudio/WarZ.suo
/Eternity/Release_NoCrashRpt
/RSUpdate/Release
/RSBuild/Release
/Eternity/Release
